Aula-n8n-29-04-2025/Whats.json
{
  "name": "Whats",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aula",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "4a2afbf6-6011-4d4c-8cc8-f9c4acae4701",
      "name": "Webhook",
      "webhookId": "0d7d09f8-4b52-41bb-b629-ae587dbff731"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6060cd80-a266-48c2-8ee3-bd80ffb09af7",
              "leftValue": "={{ $json.groupid }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "68b55496-cc8e-4ac5-9c0b-84eeceea645a",
              "leftValue": "={{ $json.participant }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            },
            {
              "id": "f607a810-1c9a-4a36-834c-316a9ad1b7d9",
              "leftValue": "={{ $json.fromMe }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "9a40fb39-a842-42ae-8ad0-524d0a1452b7",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        660,
        100
      ],
      "id": "73c146d5-4b1c-4731-9785-6a275b4e381f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "516ab9f4-0b4c-4975-961d-72d487485b40"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "messageText"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "93baa662-94d1-4d07-b0f4-7937952648d5",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "imageMessage"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2d1f021f-c929-46f7-88d5-5b59fe7f6ec0",
                    "leftValue": "={{ $json.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audioMessage"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        660,
        -100
      ],
      "id": "d3831715-57d1-4023-8c8c-76b6f9c2cb1a",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Você é a assistente da Rennata, chamada rennatinha. Atente-se:\n1. Responda sempre em português\n2. Se identifique quando for a primeira vez quando se inicia uma conversa \n3. Ao receber mensagens de despedidas, se despesa também.\n4. Sempre use a ferramenta Think Tool para pensar antes de responder sobre qualquer assunto.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1020,
        -340
      ],
      "id": "8f56a920-00e6-428b-8fe5-fc25519ec766",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        960,
        -180
      ],
      "id": "4f0f405a-8c3b-4694-bb81-38efa5913796",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "sTIbGZs08cQ7ChG9",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1080,
        -140
      ],
      "id": "1efe3c6f-8e73-4017-a79e-516d3bfd434d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.remoteJid }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1140,
        0
      ],
      "id": "2dd3eeb8-d1e0-4bb1-bbab-1a7cad5c8146",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "us93zCLkjyYZxwMB",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "send-presence",
        "instanceName": "n8nwhats",
        "remoteJid": "={{ $('If').item.json.remoteJid }}",
        "delay": 500
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1380,
        -340
      ],
      "id": "ae29afe9-8b1a-49e2-af1c-1be7cdaae660",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "TJtQ1oqGhLDp4OqF",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1600,
        -340
      ],
      "id": "84feaeb1-576a-4867-90b3-4472a348c846",
      "name": "Wait",
      "webhookId": "03f554fb-0dac-4aa8-bffe-d810e6b3ccea"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "n8nwhats",
        "remoteJid": "={{ $('Switch').item.json.remoteJid }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1820,
        -340
      ],
      "id": "b0c2ca64-0850-46b4-befc-ae206581559f",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "TJtQ1oqGhLDp4OqF",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1aeacc53-bd5e-45eb-96f5-3f16a2cdbc09",
              "name": "messageType",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "4f8788ab-de28-48a7-9a8b-b75a82bc9469",
              "name": "message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "f924d5ee-e24e-44cf-abae-7911cd190fe9",
              "name": "remoteJid",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "8c82b30c-4542-4134-92ca-6bb6c57709b3",
              "name": "groupid",
              "value": "={{ $json.body.data.message.senderKeyDistributionMessage.groupId }}",
              "type": "string"
            },
            {
              "id": "560419ce-c62e-4bce-b523-51f6ba2c262f",
              "name": "participant",
              "value": "={{ $json.body.data.key.participant }}",
              "type": "string"
            },
            {
              "id": "5766b27d-da08-4b2b-b60f-650fcc163637",
              "name": "fromMe",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ],
      "id": "2308398c-2440-468e-8b37-d2e6f08e6914",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        1200,
        -120
      ],
      "id": "5fb7a591-8aba-4610-aeed-abc625855642",
      "name": "Think1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "auto.rennata.autom.my",
            "user-agent": "axios/1.7.9",
            "content-length": "1280",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "168.75.105.12",
            "x-forwarded-host": "auto.rennata.autom.my",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "4d998ff3838e",
            "x-real-ip": "168.75.105.12"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "n8nwhats",
            "data": {
              "key": {
                "remoteJid": "556699000043@s.whatsapp.net",
                "fromMe": false,
                "id": "3EB068628F5EA81C4A035F7D9D5AAB3256F2D1F3"
              },
              "pushName": "Kaila Martins",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "You're absolutely right! I was trying to respond to your initial \"oi\" as if it was a greeting. It looks like we're having a fun little conversation, and I'm happy to keep chatting with you!\n\nSince you asked, I'm a large language model, I don't have personal preferences or topics I'd like to discuss, but I'm always happy to engage in conversation about anything that interests you. Whether it's a hobby, a favorite TV show or movie, or a topic you're passionate about, I'm here to listen and respond.\n\nSo, what's on your mind? Is there something specific you'd like to talk about, or do you just want to have a fun and casual conversation?"
              },
              "contextInfo": null,
              "messageType": "conversation",
              "messageTimestamp": 1745977020,
              "instanceId": "19fc2c24-6fba-4c39-b83d-fad8b77b4daa",
              "source": "unknown"
            },
            "destination": "https://auto.rennata.autom.my/webhook-test/aula",
            "date_time": "2025-04-29T22:37:00.673Z",
            "sender": "556596696405@s.whatsapp.net",
            "server_url": "https://api.rennata.autom.my",
            "apikey": "5F5B799AA06C-42EE-BCDE-83B9F6A8FF7C"
          },
          "webhookUrl": "https://webhook.rennata.autom.my/webhook-test/aula",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6d93367-8769-414e-b903-d9fdc96ce33d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d2241a931a41caca7ba8f38cf7f8543bef4654d8031ea7e7f027085ba9a77a6"
  },
  "id": "EQGStFgNdTS06gF1",
  "tags": []
}